{% block digitalshift_calendar_stylesheets %}
    {% stylesheets
        'bundles/digitalshiftcalendar/css/framework/jquery-ui-1.10.0.custom.css'
        'bundles/digitalshiftcalendar/css/calendar.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block digitalshift_calendar_javascripts %}
    {% javascripts
        'bundles/digitalshiftcalendar/js/framework/jquery-ui-1.10.0.custom.min.js'
        'bundles/digitalshiftcalendar/js/AppointmentInfoLayer.js'
        'bundles/digitalshiftcalendar/js/AppointmentInfoTooltip.js'
    %}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

{% block digitalshift_calendar_content %}{% endblock %}

{% block digitalshift_calendar_appointment_infolayer %}
    <script type="text/javascript">
        $(function() {
            var params;

            digitalshift = digitalshift || {};
            digitalshift.calendar = digitalshift.calendar || {};

            {% if layer is defined and layer %}
                // use globally set params or init new params object
                params = digitalshift.calendar.appointmentInfoLayerParams = digitalshift.calendar.appointmentInfoLayerParams || {};

                if (!params.url) {
                    params.url = '{{ path('digitalshift_calendar_appointmentInfo') }}';
                }

                digitalshift.calendar.appointmentInfoLayer = new AppointmentInfoLayer(params);
            {% endif %}

            {% if tooltip is defined and tooltip %}
                // use globally set params or init new params object
                params = digitalshift.calendar.appointmentInfoTooltipParams = digitalshift.calendar.appointmentInfoTooltipParams || {};

                digitalshift.calendar.appointmentInfoTooltip = new digitalshift.calendar.AppointmentInfoTooltip(params);
            {% endif %}
        });
    </script>
{% endblock %}
