<div class="item {% block cssClass %}{% endblock %}" data-id="{{ appointment.getId }}" data-start="{{ appointment.getStart.getTimestamp }}">
    {% block content %}{% endblock %}
    <div class="calendar-tooltip" style="display: none;">
        {% block tooltip %}{% endblock %}
    </div>
</div>

{% block appendix %}{% endblock %}