{% if day.getAppointments|length > 0 %}
    <tr>
        <td>
            <div class="digitalshift_calendar_label">
                {% set transString = 'digitalshift_calendar.week_days_short.' ~ day.getStart.format('D') %}
                {{ transString|trans }}, {{ day.getStart.format('d.m.Y') }}
            </div>
            <div class="item_wrapper">
                {% for holiday in day.getHolidays %}
                    {{ render_list_holiday(holiday) }}
                {% endfor %}
                {% for appointment in day.getAppointments %}
                    {% if appointment.getPeriodicals()|length == 0 or not appointment.getPeriodicals()|first.getInBreak() %}
                        {{ render_list_appointment(appointment) }}
                    {% endif %}
                {% endfor %}
            </div>
        </td>
    </tr>
{% endif %}