{% extends 'DigitalshiftCalendarBundle::base.html.twig' %}

{% block digitalshift_calendar_content %}
    <table class="calendar list" cellspacing="0" cellpadding="0">
        <tbody>
            {% if days.hasAppointments %}
                {% for day in days %}
                    {% include 'DigitalshiftCalendarBundle:List:dayRow.html.twig' with {'day' : day} %}
                {% endfor %}
            {% else %}
                <tr>
                    <td class="digitalshift_calendar_label">
                        Keine Termine in diesem Zeitraum!
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <script>
        digitalshift = digitalshift || {};
        digitalshift.calendar = digitalshift.calendar || {};

        // use globally set params or init new params object
        digitalshift.calendar.appointmentInfoLayerParams = digitalshift.calendar.appointmentInfoLayerParams || {};

        // set default appointments-selector if not done yet
        if (!digitalshift.calendar.appointmentInfoLayerParams.appointments) {
            digitalshift.calendar.appointmentInfoLayerParams.appointments = '.item';
        }
    </script>
{% endblock %}

