{% set cellClass = '' %}

{% if not first %}
    {% set cellClass = 'border_left' %}
{% endif %}

<td class="width_4 {{ cellClass }}">
    <div class="digitalshift_calendar_label">
        {% set transString = 'digitalshift_calendar.week_days_short.' ~ day.getStart.format('D') %}
        {{ transString|trans }}, {{ day.getStart.format('d.m.') }}
    </div>
    <div class="item_wrapper">
        {% for appointment in day.getAppointments %}
            <div class="item" data-id="{{ appointment.getId }}">
                {{ render_monthly_appointment(appointment) }}
            </div>
        {% endfor %}
    </div>
</td>