{% extends 'DigitalshiftCalendarBundle::base.html.twig' %}

{% block digitalshift_calendar_content %}
    <table class="calendar monthly" cellspacing="0" cellpadding="0">
        <tbody>
            {% for week in weeks %}
                {% include 'DigitalshiftCalendarBundle:Monthly:weekRow.html.twig' with {'week' : week, 'last' : loop.last} %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block digitalshift_calendar_appointment_infolayer_params %}
    {{ parent() }}

    $.extend(params, {
        'appointments' : '.item'
    });
{% endblock %}