{% set rowClass = '' %}

{% if not last %}
    {% set rowClass = 'border_bottom' %}
{% endif %}

<tr class="{{ rowClass }}">
{% for day in week %}
        {% include 'DigitalshiftCalendarBundle:Monthly:dayCell.html.twig' with {'day' : day, 'first' : loop.first} %}
    {% endfor %}
</tr>
