{#
    DayTimeCell $dayTimeCell - the cell to render
#}

{# set css height for appointments #}
{% set cssHeight = dayTimeCell.getMaxDuration(true) %}

{% if not dayTimeCell.isLocked %}
    {% if cssHeight > 1 %}
        <td class="border_left" rowspan="{{ cssHeight }}">
    {% else %}
        <td class="border_left">
    {% endif %}
        {% for appointment in dayTimeCell.getAppointments %}
            <div class="calendar_item_wrapper height_{{ cssHeight }} width_{{ dayTimeCell.getAppointments|length }}" data-id="{{ appointment.getId }}">
                {{ render_weekly_appointment(appointment) }}
            </div>
        {% endfor %}
    </td>
{% endif %}
