{% for dayTime in dayTimes %}

    {% if dayTime.getStart|date('i') != 0 %}
        {% set fullHour = false %}
    {% else %}
        {% set fullHour = true %}
    {% endif %}

    {% if fullHour %}
        <tr class="border_bottom_light">
    {% else %}
        <tr class="border_bottom">
    {% endif %}

        {% if fullHour %}
            <td>
        {% else %}
            <td class="small">
        {% endif %}
            {% set time = dayTime.getStart-3600 %}
            {{ time|date('H:i') }}
        </td>

        {% for dayTimeCell in dayTime.getDayTimeCells %}
            {% include 'DigitalshiftCalendarBundle:Weekly:dayTimeCell.html.twig' with {'dayTimeCell' : dayTimeCell} %}
        {% endfor %}

    </tr>
{% endfor %}