{% extends 'DigitalshiftCalendarBundle::base.html.twig' %}

{% block digitalshift_calendar_content %}
    <table class="calendar weekly" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="border_bottom">
                <td class="time_col"></td>
                <td class="border_left width_3">Montag</td>
                <td class="border_left width_3">Dienstag</td>
                <td class="border_left width_3">Mittwoch</td>
                <td class="border_left width_3">Donnerstag</td>
                <td class="border_left width_3">Freitag</td>
                <td class="border_left width_3">Samstag</td>
                <td class="border_left width_3">Sonntag</td>
            </tr>
        </thead>
        <tbody>
            {% include 'DigitalshiftCalendarBundle:Weekly:dayTimeRow.html.twig' with {'dayTimes' : dayTimes} %}
        </tbody>
    </table>
{% endblock %}