@CHARSET "UTF-8";

table.calendar{
    border: 1px solid #D9D8D1;
    width: 885px;
    table-layout: fixed;
}

table.calendar thead td {
    text-align: center;
    line-height: 2.5em;
}

table.calendar .time_col {
    width: 45px;
}

table.calendar tbody td {
    height:20px;
    line-height:1em;
    vertical-align: top;
    font-size: 0.9em;
    text-overflow: ellipsis;
}

table.calendar tr.border_bottom_light td {
    border-bottom: 1px solid #E3E3E1;
}

table.calendar tbody td.small{
    font-size:0.6em;
}

.calendar_item_wrapper,
.loading_indicator,
.item {
    border-radius: 4px;
}

.calendar_item_wrapper,
table.calendar.monthly .item,
table.calendar.list .item {
    height: 12px;
    overflow:hidden;
    text-overflow:ellipsis;
    border:1px solid #D9D8D1;
    padding: 3px;
    color: #FFF;
    background-color: rgba(247, 159, 25, 0.9);
    position:relative;
}

table.calendar .holiday {
    padding: 5px 10px;
    background: #FFF;
}

table.calendar.list .item {
    margin-top:5px;
    margin-bottom:5px;
    width: auto;
    float: left;
    clear: both;
}

table.calendar.monthly .digitalshift_calendar_label {
    text-align: right;
    margin-bottom: 5px;
}

table.calendar.list .digitalshift_calendar_label,
table.calendar.list .item_wrapper {
    border-bottom: 1px solid #D9D8D1;
    overflow: hidden;
}

table.calendar.list .digitalshift_calendar_label {
    color: #345;
    font-size: 1.3em;
    line-height: 2em;
    padding-left: 10px;
}

.loading_indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.loading_indicator img {
    position:absolute;
    left: 42%;
    top: 30%;
}

.calendar_item_wrapper:HOVER,
.item:HOVER {
    border: 1px solid #9F9E8D !important;
    cursor: pointer;
}

.calendar_item_wrapper.height_2 {
   height: 33px;
}

.calendar_item_wrapper.height_3 {
    height:54px;
}

.calendar_item_wrapper.width_2,
.calendar_item_wrapper.width_3 {
    float:left;
}

.calendar_item_wrapper.width_2 {
    width:51px;
}

.calendar_item_wrapper.width_3 {
    width:31px;
}

table.calendar.monthly td {
    height: 110px;
}